// File Structure
$path-font: '../fonts/';

// Font Imports
$font-url-outfit: 'https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap';

// Font Family
$font-family--primary: 'Outfit', Helvetica, Arial, sans-serif;

// Font Weight
$weight: (
  xlight: 100,
  light: 250,
  normal: 400,
  bold: 700,
  xbold: 900,
);

