// File Structure
$path-icons: '../fonts/';

// Icons from Icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('#{$path-icons}/icomoon.eot?scbuc9');
  src:  url('#{$path-icons}/icomoon.eot?scbuc9#iefix') format('embedded-opentype'),
    url('#{$path-icons}/icomoon.ttf?scbuc9') format('truetype'),
    url('#{$path-icons}/icomoon.woff?scbuc9') format('woff'),
    url('#{$path-icons}/icomoon.svg?scbuc9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%icons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Icons from Icomoon
[class^="icon-"], [class*=" icon-"] {
  @extend %icons;
}

.icon-laptop:before {
  content: "\e909";
}
.icon-newspaper:before {
  content: "\e911";
}
.icon-sun:before {
  content: "\e90a";
}
.icon-moon:before {
  content: "\e90b";
}
.icon-sun1:before {
  content: "\e90c";
}
.icon-moon1:before {
  content: "\e90d";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-keyboard_arrow_down:before {
  content: "\e901";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
.icon-keyboard_arrow_right:before {
  content: "\e903";
}
.icon-keyboard_arrow_up:before {
  content: "\e904";
}
.icon-arrow_back:before {
  content: "\e900";
}
.icon-arrow_forward:before {
  content: "\e906";
}
.icon-arrow_upward:before {
  content: "\e907";
}
.icon-arrow_downward:before {
  content: "\e908";
}
.icon-school:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\f007";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-briefcase:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-css3:before {
  content: "\e912";
  color: #1572b6;
}
.icon-docker:before {
  content: "\e913";
  color: #1488c6;
}
.icon-github:before {
  content: "\e905";
}
.icon-html5:before {
  content: "\e914";
  color: #e34f26;
}
.icon-javascript:before {
  content: "\e915";
  color: #f7df1e;
}
.icon-jquery:before {
  content: "\e916";
  color: #0769ad;
}
.icon-laravel:before {
  content: "\e917";
  color: #ff2d20;
}
.icon-php:before {
  content: "\e918";
  color: #777bb4;
}
.icon-sass:before {
  content: "\e919";
  color: #c69;
}
