@use "functions" as fn;

// Padding
$g-padding: (
  small: 0.625rem,
  base: 1.875rem,
);

// Sidebar & Related
$sidebar: (
  width: 16rem,
  padding: fn.map-deep($g-padding, small),
  icon-container: 1.75rem,
  icon-padding: fn.map-deep($g-padding, small),
   // This needs to get replaced by a calc. Actually the whole page will move over it so it won't need to.
);
$sidebar-calc: (
  a-tag: calc(
    fn.map-deep($sidebar, width) 
    - (2 * fn.map-deep($sidebar, padding))
    ),
  a-tag-collapsed: calc(
    fn.map-deep($sidebar, icon-container) 
    + (2 * fn.map-deep($sidebar, padding))
    ),
  collapsed: calc(
    fn.map-deep($sidebar, icon-container)
    + (2 * (fn.map-deep($sidebar, icon-padding)
    + (fn.map-deep($sidebar, padding))))
    ),
);