@use 'functions' as *;

// Path to Assets
$path-img: '../img/';

// Layout placeholders
$global-padding: 15px;
$global-padding-small: 10px;

// Container Placeholders
$grid-gap-padding: 30px;
$grid-gap-padding-small: 15px;


$color-palettes: (
  lightmode: ( // Will probably change as don't like the colour scheme - maybe go with a contrasting blue so colour scheme for dark with be orange to black, and light will be white to blue.
    palette: (
      base: #FEF3E2,
      secondary: #FAB12F,
      tertiary: #FA812F,
      accent: #FA4032,
    ),
    text: (
      base: #0C0C0C,
      placeholder: rgba(12, 12, 12, 0.75), // This is the same colour as base but 0.75 oppacity
      dark: #0C0C0C, // This is for anything with bright colour backgrounds
      shadow: #f9e1bd, 
    ),
    filter: ( // This is mainly for banner image
      brightness: rgba(255, 255, 255, 0.2)
    ),
    status: (
      success: #00C851,
      error: #ff4444
    )
  ),
  darkmode: (
    palette: (
      base: #0C0C0C,
      secondary: #481E14,
      tertiary: #9B3922,
      accent: #F2613F,
    ),
    text: (
      base: #FEF3E2,
      placeholder:  rgba(254, 243, 226, 0.75), // This is the same colour as base but 0.75 oppacity
      dark: #0C0C0C, // This is for anything with bright colour backgrounds
      shadow: #191b1e,
    ),
    filter: ( // This is mainly for banner image
      brightness: rgba(0, 0, 0, 0.5),
    ),
    status: (
      success: #007E33,
      error: #CC0000
    )
  )
);


// Border radius
$border-radius-std: 1rem;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Side bars width
$sidebar-width-site-nav: 250px;
$sidebar-width-page-nav: 0px; // Change length later, this is for future blog style pages

// Mobile Header height
$header-height: 5rem;

// Content area Height
$content-area-height: calc(100vh - 5rem);

// Max Content area width
$break-max-width-small: calc(#{$breakpoint-small} - (#{$global-padding} * 2));
$break-max-width-medium: calc(#{$breakpoint-medium} - (#{$global-padding} * 2));
$break-max-width-large: calc(#{$breakpoint-large} - (#{$global-padding} * 2));
$break-max-width-extra-large: calc(#{$breakpoint-extra-large} - (#{$global-padding} * 2));
