@use "../abstracts" as ab;

// Light / Dark Mode Colours ===============================================
:root {
  @include ab.ldmode("light");
}
// Colour profiles - dark
@media (prefers-color-scheme: dark) {
  :root {
    @include ab.ldmode("dark");
  }
}
// Light/Dark switcher
html {
  color-scheme: dark light;
}
[data-theme="light"] {
  color-scheme: light;
  @include ab.ldmode("light");
}
[data-theme="dark"] {
  color-scheme: dark;
  @include ab.ldmode("dark");
}

// Formatting =============================================================
:root {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
main {
  background-color: var(--clr-primary);
  z-index: ab.z('default');
  position: relative;
  margin-left: auto;
  width: calc(100% - calc(ab.map-deep(ab.$sidebar, width)));
  transition: all 1s;
  min-height: 100vh;
}

