@use "../abstracts" as ab;
// Import Font
@include ab.font-import(ab.$font-url-outfit);

// Base Styles
:root {
  font-family: ab.$font-family--primary;
  font-size: 1rem;
  font-weight: ab.weight(normal);
  letter-spacing: 0.1rem;
}

a {
  cursor: pointer;
}

// Indentation Guides
ul {
  all: unset;
  box-sizing: inherit;

  li {
    display: block;

    i:before {
      font-size: 1.3rem;
    }
  }

  ul>li {
    i:before {
      font-size: 1.15rem;
    }
    span {
      border-left: solid 0.125rem var(--clr-accent);
      margin-left: 1rem;
    }
  }
}