@use "sass:map";
@use "../abstracts" as ab;

// Including styles for main related to the sidebar
main {
  position: relative;
  z-index: ab.z('default');
  width: calc(100% - calc(ab.map-deep(ab.$sidebar, width)));
  margin-left: auto;
  min-height: 100vh;
  @include ab.transitions(map.get(ab.$transitions, main));
  border-left: solid 2px var(--clr-accent);
}

.nav-desktop {
  // Positioning
  position: fixed;
  left: 0;
  z-index: ab.z('sidebar');
  // Sizing
  height: 100vh;
  width: ab.map-deep(ab.$sidebar, width);
  padding: ab.map-deep(ab.$sidebar, padding);
  // Colouring
  background-color: var(--clr-primary);
  // Internal Layout
  display: flex;
  flex-direction: column;

  &, *, *:before, *:after {
    @include ab.transitions(map.get(ab.$transitions, sidebar));
  }

  i:before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: ab.map-deep(ab.$sidebar, icon-container);
  }

  a {
    width: ab.map-deep(ab.$sidebar-calc, a-tag);
  }

  span {
    display: flex;
    min-height: 3.5rem;
    white-space: nowrap;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.15rem;
    padding: 0.5rem ab.map-deep(ab.$sidebar, icon-padding);
  }

  nav {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 1fr;

    > :first-child,
    > :last-child {
      display: flex;
      flex-direction: column;
    }

    > :first-child {
      justify-content: start;
    }

    > :last-child {
      justify-content: end;
    }
  }
}

.ldtoggle {
  i:before {
    font-size: 1.8rem;
  }

  &#darkmode {
    i:before {
      font-size: 2.4rem;
    }
  }
}
