@use "../abstracts" as ab;

.nav-desktop {
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: ab.z('sidebar');
  width: ab.map-deep(ab.$sidebar, width);
  padding: ab.map-deep(ab.$sidebar, padding);
  background-color: var(--clr-secondary);
  &, * {
    transition: all 1s;
  }
}