// ==========================================================================
// Base Styles
// ==========================================================================

:root {
  font-family: $font-family--primary;
  font-size: 1rem;
  font-weight: $font-w-normal;
  color: white;
  letter-spacing: 0.1rem;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: $background-noise;
  background-color: palette(darkmode, palette, base);
}

// Lists
ul {
  margin: 0;
  padding:0;
  list-style-type: none;
}

// Links
a {
  color: inherit;
  text-decoration: inherit;
}

// Images


// Form elements


// Button


// Layout

