.banner {
  // Background
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("#{$path-img}banner/banner-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // Layout
  @extend %flex-column;

  // Text formating
  header {
    flex: 1 1 90%;
    @extend %flex-column;
    h1, p {
      margin: 1rem;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.hint-scroll-down {
  flex: 1 1 10%;
  @extend %flex-column;
  font-weight: $font-w-bold;
  font-size: 1.2rem;
  .icon-keyboard_arrow_down {
    font-size: 3rem;
  }
}