// ==========================================================================
// Form Elements
// ==========================================================================

[id^="contact-me-form-"] {
  display: flex;
  border: 2px solid palette(darkmode, palette, accent);
  background-image: $background-noise;
  background-color: palette(darkmode, palette, secondary);
  padding: 15px;
  border-radius: 5px;
}
.contact-me-form {
  > * {
    &, &:focus {
      color: white;
    }
    &::placeholder {
      color: rgba(255,255,255,0.75);
    }
  }
}
#contact-me-form-message {
  height: 8rem;
  resize: vertical;
}
#contact-me-form-submit {
  width: 35%;
  background-color: palette(darkmode, palette, tertiary);
  transition: .2s ease;
  &:hover {
    transition: .2s ease;
    background-color: palette(darkmode, palette, accent);
  }
}