// ==========================================================================
// Header
// ==========================================================================

body > header {
  grid-area: header;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(l) {
    display: none;
  }
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 1rem 0;
    margin-left: 2rem;
    font-size: 2.5rem;
  }
}

// Light/Dark Mode Toggle in Header
.switch-toggle {
  font-size: 1.5rem;
}
.switch-candy {
  label {
    background-image: $background-noise;
  }
  a {
    background-color: var(--colour-accent);
  }
  label, a{
    outline: none;
    &:focus-visible, &:focus{
      outline: none;
    }
  }
}





