// ==========================================================================
// Nav
// ==========================================================================

// Page Layout
nav {
  // Container Styling
  background-image: $background-noise;
  background-color: palette(darkmode, palette, secondary);
  border-right: 2px solid palette(darkmode, palette, tertiary);
  // Content Styling
  text-align: center;
}

.avatar {
  // Container Styling
  border-bottom: 2px solid palette(darkmode, palette, tertiary);
  // Content Styling
  font-size: 3rem;
  padding: 2rem;
}

.nav-list {
  padding: 2rem;
  padding-bottom: 0;

  li {
    margin: 1.5rem;
    font-size: 1.2rem;
  }
}

.socials {
  font-size: 2rem;
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
  a:hover {
    color: palette(darkmode, palette, accent);
    border: none;
  }
}

