.projects {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $grid-gap-padding;
  row-gap: calc(#{$grid-gap-padding} * 2);
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-y: hidden;
  @include mq(s) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-item {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    aspect-ratio: 4 / 3;
  }
  span {
    margin-left: 0.25rem;
  }
}